
#header {
    width:100%;
    height:50px;
    line-height:50px;
    vertical-align: middle;
    background-color:#47639e;
    border-bottom: 1px solid #000;
}

#content_full {
    height:100%;
    position: relative;
    width: 100%;
}

#content {
    padding-bottom: 20px;
    width:1024px;
    height:100%;
    margin: 0 auto;
    background-color:#fff;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}

#footer {
    width:100%;
    height:30px;
    line-height:30px;
    background-color:#47639e;
    border-top: 1px solid #000; 
    margin: 0 auto;
    vertical-align: middle;
    color: #fff;
    /*position: absolute;
    bottom: 0;*/
}
#footer a {
    color: #FFF;
}

html {
  height: 100%;
}

body {
    background-color: #e9eaed;
    font-size: 14px;
    font-family: "Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
    min-height: 100%;
    margin: 0;
    padding: 0;
    /*-moz-box-sizing: border-box; 
    box-sizing: border-box;
    padding-bottom: 30px;
    position: relative;*/
}

.page_title {
    margin-top: 0px;
    width:100%;
    border-bottom: 1px solid #004682;
    padding-bottom: 5px;
    margin-bottom: 10px;
    padding-top: 5px;
    background-color: #ffc597;
}

.page_subtitle {
    margin-top: 70px;
    width:100%;
    border-bottom: 1px solid #004682;
    padding-bottom: 5px;
    margin-bottom: 10px;
    padding-top: 5px;
    font-size: 24px;
}


.errorlist {
    background-color: #ff7474;
    border: 1px solid #ff2f2f;
    padding: 2px;
    margin: 1px;
    list-style-type: none;
}

.errors {
    color: #ff7474;
}




.form td {
    padding: 10px;
}
.form th {
    font-weight: bold;
    padding: 10px;
    font-size: 16px;
    text-align:right;
}



input, button, a.button :not('django_facebook'){
    height: 30px;
    width: 200px;
    outline: none;
    background-color: #e9eaed;
    border: 2px solid #47639e;

    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

    padding-left: 5px;
}

input, button, a.button, select :not('django_facebook') {
    height: 30px;
    outline: none;
    background-color: #e9eaed;
    border: 2px solid #47639e;

    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

    padding-left: 5px;
}

textarea {
    width: 200px;
    outline: none;
    background-color: #e9eaed;
    border: 2px solid #47639e;

    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

    padding-left: 5px;
}

a.button {
    padding: 5px 10px 5px 10px;
    text-decoration: none;
    color: #000;
    font-size: 14px;
}

input:hover, button:hover, a.button:hover, textarea:hover, select:hover  :not('django_facebook'){
    background-color: #bfc9e5;
    border: 2px solid #47639e;
}

input:focus, textarea:focus, button:focus, select:focus  :not('django_facebook'){
    background-color: #ffc597;
    border: 2px solid #47639e;
}


.courses_list {
    width:100%;
    border-collapse:collapse;
}

.courses_list tr td{
    text-align: center;
    border: 0px solid #000;
    padding : 30px;
}

.courses_list tr td:hover{
    background-color: #ffc597;
    cursor: pointer;
    box-shadow: 0px 0px 5px #000;
}

a{
    color:#000;
}