{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
 
<head>
 <title>{% trans 'Page unavailable' %}</title>
</head>
 
<body>
 <h1>{% trans 'Page unavailable' %}</h1>
 
 <p>{% trans 'Sorry, but the requested page is unavailable due to a server hiccup.' %}</p>
 
 <p>{% trans 'Our engineers have been notified, so check back later.' %}</p>
</body>
 
</html>
