{% extends "base.html" %}
{% load i18n %}


{% block content_full %}
		<style>

			#home_box {
				background-image:url('{{STATIC_URL}}agility/images/home.png');
				width:100%; 
				height:411px;
				border-bottom: 1px solid #000;
			}
			#btn_create {
				position: relative;
				left: 580px;
				top: 110px;
				padding: 20px 30px 20px 30px;
				font-size: 20px;
			}
			#btn_signin {
				position: relative;
				left: 530px;
				top: 110px;
				padding: 20px 30px 20px 30px;
				font-size: 20px;
			}
			#latest_course {
				position: relative;
				left: 790px;
				top: 50px;
				width: 200px;
				height: 120px;
			}
			#latest_course td{
				padding: 3px;
			}

		</style>

		<div id="home_box">

			<table class="courses_list" id="latest_course">
				<tr>
					<td width="25%" data-course-id="{{course.id}}" rel="course">
						<a href="{% url view_course course.id %}">
							<img src="{{course.preview}}" width="100%">
						</a>
						<a href="{% url view_course course.id %}">
							{{course.name}}
						</a>
						| <a href="{% url view_course course.id %}">{{ course.user.get_full_name }}</a>
					</td>
				</tr>
			</table>



			{% if not user.is_authenticated %}
				<a class="button" href="{% url new_course %}" id="btn_signin">{% trans 'Sign in' %}</a>
			{% endif %}
			<a class="button" href="{% url new_course %}" id="btn_create">{% trans 'Create a course' %}</a>
		</div>

		<div>

			<table class="courses_list">
				<tr><th></th><th></th><th></th></tr>
				{% for course in courses %}
					{% if forloop.counter0|divisibleby:3 and forloop.counter0 == 0 %}
						<tr>
					{% elif forloop.counter0|divisibleby:3 and forloop.revcounter > 0 %}
						</tr><tr>
					{% endif %}

					<td width="25%" data-course-id="{{course.id}}" rel="course">
						<a href="{% url view_course course.id %}">
							<img src="{{course.preview}}" width="100%">
						</a>
						<a href="{% url view_course course.id %}">
							{{course.name}}
						</a>
						| <a href="{% url view_course course.id %}">{{ course.user.get_full_name }}</a>
					</td>


					{% if forloop.revcounter == 0 %}
						</tr>
					{% endif %}
				{% endfor %}
			</table>

			<script>
			$('td[rel="course"]').click(function() {
				course_id = $(this).attr('data-course-id');
				document.location.href="{% url edit_course 'COURSE_ID' %}".replace('COURSE_ID', course_id);
			});
			</script>
		</div>

{% endblock %}