{% extends "base.html" %}
{% load i18n %}

{% block title %}
    <center>
    	<h1 class="page_title">{%blocktrans%}My profile{%endblocktrans%}</h1>
	</center>
{% endblock %}

{% block content %}

		<div style="text-align:right; width:100%;">
			<a class="button" href="{% url auth_password_change %}">{% trans 'Change my password' %}</a>
		</div>
		<br><br>

		<center>
		<form action="" method="post">
			{% csrf_token %}
			<table>
		  	{{form.as_table}}
			</table>
			<p><input type="submit" value="{% trans 'Save' %}" /></p>
		</form>
		</center>

{% endblock %}