{% extends "registration/base.html" %}
{% load i18n %}

{% block title %}
    <center>
      <h1 class="page_title">{%blocktrans%}Account activated{%endblocktrans%}</h1>
  </center>
{% endblock %}


{% block content %}
  <center>
  {% if account %}
    <p>{%blocktrans%}Thanks for signing up! Now you can <a href="/accounts/login/">log in</a>.{%endblocktrans%}</p>
  {% else %}
    <p>{%blocktrans%}Sorry, it didn't work. Either your activation link was incorrect, or
    the activation key for your account has expired; activation keys are
    only valid for {{ expiration_days|apnumber }} days after
    registration.{%endblocktrans%}</p>
  {% endif %}
</center>
{% endblock %}