{% extends "registration/base.html" %}
{% load i18n %}


{% block title %}
    <center>
      <h1 class="page_title">{%blocktrans%}Activation complete{%endblocktrans%}</h1>
  </center>
{% endblock %}

{% block content %}
<center>
<h1>{%blocktrans%}Congratulations!{%endblocktrans%}</h1>
<p>{%blocktrans%}Your registration is now complete. Go to the site and start having fun!{%endblocktrans%}</p>
</center>
{% endblock %}