{% extends "registration/base.html" %}
{% load i18n %}


{% block title %}
    <center>
      <h1 class="page_title">{%blocktrans%}Password reset{%endblocktrans%}</h1>
  </center>
{% endblock %}


{% block content %}
<center>


<p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll e-mail instructions for setting a new one." %}</p>

<form action="" method="post">
	{% csrf_token %}

<table class="form">
      <tr>
        <th>
          * {{form.email.label_tag}}:
        </th>
        <td style="padding-right: 75px;">
          {{form.email.errors}}
          {{form.email}}
        </td>
       </tr>
</table>
      <p class="submit"><input type="submit" value="{% trans 'Reset my password' %}"></p>

</center>

{% endblock %}
