{% extends "registration/base.html" %}
{% load i18n %}



{% block title %}
    <center>
      <h1 class="page_title">{% trans 'Password reset successful' %}</h1>
  </center>
{% endblock %}

{% block content %}


<p>{% trans "We've e-mailed you instructions for setting your password to the e-mail address you submitted. You should be receiving it shortly." %}</p>

{% endblock %}
