{% extends "registration/base.html" %}
{% load i18n %}


{% block title %}
    <center>
      <h1 class="page_title">{% trans 'Password reset complete' %}</h1>
  </center>
{% endblock %}


{% block content %}

<p>{% trans "Your password has been set.  You may go ahead and log in now." %}</p>

<p><a href="{% url auth_login %}">{% trans 'Log in' %}</a></p>

{% endblock %}


{% block content-related %}

{% endblock %}