{% extends "registration/base.html" %}
{% load i18n %}


{% block title %}
    <center>
      <h1 class="page_title">{% trans 'Password change successful' %}</h1>
  </center>
{% endblock %}

{% block content %}

<center>
<p>{% trans 'Your password was changed.' %}</p>
</center>
{% endblock %}

{% block content-related %}

{% endblock %}