{% extends "base.html" %}
{% load i18n %}

{% block title %}
    <center>
    	<h1 class="page_title">{%blocktrans%}Latests courses{%endblocktrans%}</h1>
	</center>
{% endblock %}

{% block content %}

		<table class="courses_list">
			<tr><th></th><th></th><th></th></tr>
			{% for course in courses %}
				{% if forloop.counter0|divisibleby:3 and forloop.counter0 == 0 %}
					<tr>
				{% elif forloop.counter0|divisibleby:3 and forloop.revcounter > 0 %}
					</tr><tr>
				{% endif %}

				<td width="25%" data-course-id="{{course.id}}" rel="course">
					<a href="{% url view_course course.id %}">
						<img src="{{course.preview}}" height="250px">
					</a><br>
					<a href="{% url view_course course.id %}">
						{{course.name}}
					</a>
					| <a href="{% url view_course course.id %}">{{ course.user.get_full_name }}</a>
				</td>


				{% if forloop.revcounter == 0 %}
					</tr>
				{% endif %}
			{% endfor %}
		</table>

		<script>
		$('td[rel="course"]').click(function() {
			course_id = $(this).attr('data-course-id');
			document.location.href="{% url edit_course 'COURSE_ID' %}".replace('COURSE_ID', course_id);
		});
		</script>


{% endblock %}